fastapi==0.135.3
uvicorn[standard]==0.44.0
confluent-kafka==2.14.0
PyYAML==6.0.3
jsonpath-ng==1.8.0
pydantic==2.12.5
pydantic-settings==2.13.1
six==1.17.0
fastavro==1.12.1
requests==2.33.1
httpx==0.27.0
